.container{
	width: 700px;
	margin: 0 auto;
}
.container1{
	border:1px solid gray;
}
ul{
	margin-left: 80px;
	}
li{
	display: inline;
	font-size: 25px;
	margin-left: -30px;
	margin-right: 30px;
	border-right: 1px solid black ;
	padding-right: 10px;
	padding-left: 10px;
}
.imgrup{
	height: 400px;
	width: 700px;
}
.img{
	height: 150px;
	width: 150px;
}
#hr2{
	background-color: black;
	height: 3px;
	margin-left: 0%;
	margin-right: 90%;
}
.coder1{
	background-image: url("C:/Users/Alumna/Desktop/NayeliCarbajal/primerLayout/img/profile-1.png");
	background-size: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.coder2{
	background-image: url("C:/Users/Alumna/Desktop/NayeliCarbajal/primerLayout/img/profile-2.png");
	background-size: 100%;
	position: absolute;
	left: 560px;
}
.coder3{
	background-image: url("C:/Users/Alumna/Desktop/NayeliCarbajal/primerLayout/img/profile-3.png");
	background-size: 100%;
	position: absolute;
	left: 800px;
}
.coder4{
	background-image: url("C:/Users/Alumna/Desktop/NayeliCarbajal/primerLayout/img/profile-4.png");
	background-size: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.coder5{
	background-image: url("C:/Users/Alumna/Desktop/NayeliCarbajal/primerLayout/img/profile-5.png");
	background-size: 100%;
	position: absolute;
	left: 560px;
}
.coder6{
	background-image: url("C:/Users/Alumna/Desktop/NayeliCarbajal/primerLayout/img/profile-6.png");
	background-size: 100%;
	position: absolute;
	left: 800px;

}

.brillo{
	-webkit-filter:brightness(55%);
	filter:brightness(55%);
}
p{
	color: white;
	margin-top: 130px;
	margin-left: 20px;
	position: absolute;
}

#line{
	border: 1px solid gray;
	margin-right: 45%;
	margin-left: 45%
}
.par{
	margin-left: 150px;
	margin-right: 150px;
	text-align: center;
	}
.par1{
	background-color:#FAAC58 ;
	color: purple;
}
h1{
	text-align: center;
}
.habilidades{
	background-color: gray;
	margin-right: 30%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 30px;

}

span{
	margin-left: 10px;
	color: white;
}
#span1{
	margin-left: 10px;
	color: black;
}
.salto{
	margin-top:  30px;
	margin-right: 50%;
}
.salto1{
	margin-top:  30px;
	margin-right: 70%;
}
/*------------portafolio---------------------*/
h2{
	margin-left: 10px;
}
.parCoder{
	margin-left: 10px;
}
#imgRad{
	width: 120px;
	height: 120px;
	border-radius: 150%;
	position: relative;
	margin-left: 280px;
	margin-top: 10px;
}
.porta1{
	background-image: url("C:/Users/Alumna/Desktop/NayeliCarbajal/primerLayout/img/p5.jpg");
	background-size: 150%;
	margin-top: 20px;
	margin-bottom: 250px;
	margin-left: 20px;
}

.porta2{
	background-image: url("C:/Users/Alumna/Desktop/NayeliCarbajal/primerLayout/img/p6.jpg");
	background-size: 150%;
	position: absolute;
	left: 570px;
}
.porta3{
	background-image: url("C:/Users/Alumna/Desktop/NayeliCarbajal/primerLayout/img/p8.jpg");
	background-size: 150%;
	position: absolute;
	left: 270px;
}
.porta4{
	background-image: url("C:/Users/Alumna/Desktop/NayeliCarbajal/primerLayout/img/p5.jpg");
	background-size: 150%;
	margin-top: 200px;
	margin-bottom: 250px;
	margin-left: -225px;
}
.porta5{
	background-image: url("C:/Users/Alumna/Desktop/NayeliCarbajal/primerLayout/img/p6.jpg");
	background-size: 150%;
	position: absolute;
	left: 1px;
}
.porta6{
	background-image: url("C:/Users/Alumna/Desktop/NayeliCarbajal/primerLayout/img/p8.jpg");
	background-size: 150%;
	position: absolute;
	left: 270px;

}



